{% extends "layout.html" %}
{% block page_title %}Welcome{% endblock %}
{% block body %}
    {{ super() }}

    <div style="background-color: #fff3cd; color: #856404; border: 1px solid #ffeeba; padding: 10px; margin: 10px 0; border-radius: 5px;">
  <strong>Note:</strong> This is a another, another, new image, but it has not been published to production yet.
</div>

    <p>This is a minimal web app developed with <a href="http://flask.pocoo.org/">Flask</a> framework.</p>
    <p>The main purpose is to introduce how to implement the essential elements in web applications with Flask, including</p>
    <ul>
        <li>URL Building</li>
        <li>URL Building</li>
        <li>Authentication with Sessions</li>
        <li>Template & Template Inheritance</li>
        <li>Error Handling</li>
        <li>Integrating with Bootstrap</li>
        <li>Interaction with Database (SQLite)</li>
        <li>Invoking static resources</li>
        <li>Upload files</li>
    </ul>

    <p>For more basic knowledge of Flask, you can refer to <a href="https://www.tutorialspoint.com/flask/">a tutorial on Tutorialspoint</a>.</p>
{% endblock %}
